<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <include resource="org/springframework/boot/logging/logback/base.xml"/>

    <logger name="org.springframework.transaction" level="TRACE"/>
    <logger name="org.springframework.orm" level="TRACE"/>
    <logger name="io.roach" level="DEBUG"/>
    <logger name="io.roach.SQL_TRACE" level="TRACE"/>

    <root level="INFO"/>
</configuration>

